<div class="jobs">
    <div class="center">
      <%= form_with(url: "/jobs/index", method: "get", local: true, :class => 'search-form') do |f|%>
        <div class="input-field">
          <%= f.text_field :search, value:@search, type:"search", required:true %>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
        <%= f.submit "Buscar", name: nil, class: "waves-effect waves-light btn search-button" %>
      <% end %>
      <% @jobs.each do |j| %>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card horizontal">
              <div class="card-content card-jobs">
                <div class="wrapper-jobs col s12 m10 l10">
                  <p class="company"><%= j[:title] %></p>
                  <p class="title"><%= j[:company] %></p>
                  <p class="title"><%= j.tag.name %></p>
                </div>
                <div class="col s12 m2 l2 right-align">
                  <a href=<%= "/campaigns/" %>><button class="visualizar-btn">Visualizar</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
</div>
